*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F1F5F8;
}

.main-content {
    background: #FFF;
    margin: 1em 1em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    min-height: calc(100vh - 32px);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.title-name {
    font-size: 32px;
}

.title-underline {
    background-color: #49A6EA;
    width: 50px;
    padding: 2px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#user-image {
    height: 125px;
    width: 125px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 10px -2.25px #49A6EA;
    margin-top: 1em;
}

#user-name {
    margin-top: 1em;
    font-size: 20px;
}

#user-occupation {
    margin-top: .375em;
    color: #49A6EA;
}

#user-review {
    margin: 1em .5em 0 .5em;
    text-align: center;
    font-size: 20px;
    color: #3c5870;
}

.carousel-buttons {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-buttons {
    display: flex;
}

.arrow-buttons > button {
    border: none;
    color: #49A6EA;
    background-color: #FFF;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center
}

.arrow-buttons .prev-btn {
    margin-right: .375em;
}

.random-btn {
    margin: 1em 0 2em 0;
    width: 150px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-color: #49A6EA;
    color: #49A6EA;
}